<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>j2ee_dynamic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
       <servlet-name>HelloServlet</servlet-name>
       <servlet-class>j2ee_dynamic.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
       <servlet-name>HelloServlet</servlet-name>
       <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>HeroListServlet</servlet-name>
      <servlet-class>servlet.HeroListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>HeroListServlet</servlet-name>
      <url-pattern>/listHero</url-pattern>
  </servlet-mapping>
  
   <servlet>
       <servlet-name>HeroAddServlet</servlet-name>
       <servlet-class>servlet.HeroAddServlet</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>HeroAddServlet</servlet-name>
       <url-pattern>/addHero</url-pattern>
   </servlet-mapping> 
   
	<servlet>
	   <servlet-name>HeroDeleteServlet</servlet-name>
	   <servlet-class>servlet.HeroDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	   <servlet-name>HeroDeleteServlet</servlet-name>
	   <url-pattern>/deleteHero</url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <servlet-name>HeroEditServlet</servlet-name>
        <servlet-class>servlet.HeroEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HeroEditServlet</servlet-name>
        <url-pattern>/editHero</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>HeroUpdateServlet</servlet-name>
        <servlet-class>servlet.HeroUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HeroUpdateServlet</servlet-name>
        <url-pattern>/updateHero</url-pattern>
    </servlet-mapping>
</web-app>